@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body{
  background-color: #1E1D1B;
  padding: 0;
  margin: 0;
  font-family: "Quicksand","Zen Maru Gothic";
  height: 100dvh;
}
p{
  margin: 0;
  padding: 0;
}
.home{
  width: 100%;
    height: calc(100dvh - 48px - 50px);
}